<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CV uploader - Faculty of Information Technology B14</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body" id="uploadContent">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    <h2>Upload Your CVs Here</h2>
                    <h4>Review team will check it and get back to you</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"></div>
                    </div>
                    <button class="btn btn-lg upload-btn" type="button">Upload CV</button>
                </div>
                <div class="panel-body hideContent" id="successContent">
                    <span class="glyphicon glyphicon-ok"></span>
                    <h2>Successfully saved to google drive</h2>
                    <h4>Review team will check it and get back to you</h4>
                </div>
                <div class="panel-body hideContent" id="errorContent">
                    <span class="glyphicon glyphicon-remove"></span>
                    <h2>Error while saving to google drive</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="upload-input" type="file" name="uploads[]"><br />

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascript/upload.js"></script>
</body>
</html>